@use '../../variable.scss' as var;

#logo {
  width: 114px;
  height: 114px;
}

#title {
  margin: 35px 0 55px;
  * {
    line-height: 1.01em;
  }
  #title1 {
    font-family: 'BentonSans Cond';
    font-size: 140px;
  }
  #title2 {
    font-family: 'BentonSans', sans-serif;
    font-size: 50px;
    font-weight: 800;
  }  
}

#sub-title {
  color: var.$c_white;
}

#desc {
  margin: 30px 0 65px;
}